
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
  <a class="navbar-brand" href=""[routerLink]="['/av/home']">Smart Quiz</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
 <ul class="navbar-nav mr-auto" style="none">
      <li class="nav-item active">
        <a class="nav-link" href="" [routerLink]="['/av']"> Home <span class="sr-only">(current)</span></a>

      <li class="nav-item active">
        <a class="nav-link" href="" [routerLink]="['/av/polls']"> Answer Question <span class="sr-only">(current)</span></a>

      </li>
   </ul>

     <li>  
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-outline-primary" type="button">Go!</button>
      </span>
      &nbsp; &nbsp;
      <!--   <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Login</button> -->
   
    </div>
     
     </li>
    <!--  <li>
       <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Savithri Nandadasa
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
</div>


     </li>
 -->

      </div>   
    
</nav>


<div class="container-fluid">
  <div class="row row-blue">
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>{{question}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 vertical-center">
      <p *ngIf="alreadyVoted">
        You've already voted on this poll.
      </p>
      <form [formGroup]="voteForm" novalidate (ngSubmit)="submitForm(voteForm)">
        <fieldset [disabled]="alreadyVoted">
          <ul class="options">
            <li *ngFor="let option of options; let i = index">
              <input type="radio" id="{{i}}" value="{{option.i}}" name="voteOption" formControlName="voteOption"
                [checked]="option.option == alreadyVoted"/>
              <label for="{{i}}" class="btn btn-sm btn-outline-primary">{{option.option}}</label>
            </li>
          </ul>
        </fieldset>

        <button type='button' class="btn btn-md btn-outline-secondary" [routerLink]="['/av/polls']"><i class="zmdi zmdi-arrow-left"></i></button>
        <button type='submit' class="btn btn-md btn-outline-success"
          [disabled]="!voteForm.valid || alreadyVoted"><i class="zmdi zmdi-check"></i></button>
      </form>
    </div>

    <div class="col-sm-6">
      <div *ngIf="!chartEmpty">
        <doughnut [doughnutChartLabels]="chartLabels" [doughnutChartData]="chartData">
          <i class="zmdi zmdi-spinner zmdi-blue zmdi-hc-spin"></i>
        </doughnut>
      </div>
      <div class="text-center empty-chart" *ngIf="chartEmpty">
        <h4>No votes yet.</h4>
        <h4>You can be the first!</h4>
      </div>
    </div>
  </div>
</div>