<nav class="navbar navbar-expand-lg navbar-light bg-light">
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
  <a class="navbar-brand" href=""[routerLink]="['/av/home']">Smart Quiz</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
 <ul class="navbar-nav mr-auto" style="none">
      <li class="nav-item active">
        <a class="nav-link" href="" [routerLink]="['/av']"> Home <span class="sr-only">(current)</span></a>

      <li class="nav-item active">
        <a class="nav-link" href="" [routerLink]="['/av/polls']"> Answer Question <span class="sr-only">(current)</span></a>

      </li>
   </ul>

     <li>  
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-outline-primary" type="button">Go!</button>
      </span>
      &nbsp; &nbsp;
      <!--   <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Login</button> -->
   
    </div>
     
     </li>
     <li>
       <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Savithri Nandadasa
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
</div>


     </li>


      </div>   
    
</nav>


<div class="container-fluid">
  <div class="row row-blue">
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <span *ngIf="currentRoute === 'new'"><h3><i class="zmdi zmdi-plus"></i> Create A New Poll</h3></span>
      <span *ngIf="currentRoute === 'edit'"><h3><i class="zmdi zmdi-floppy"></i> Add Poll Options</h3></span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 vertical-center">
      <form [formGroup]="fbForm" novalidate (ngSubmit)="save(fbForm)">

        <div class="form-group">
          <textarea rows="2" class="form-control" formControlName="question" placeholder="Question"></textarea>
          <small class="text-danger" [hidden]="fbForm.controls.question.valid
             || (fbForm.controls.question.pristine && !submitted)">
              Question is required (minimum 6 characters).
          </small>
        </div>

        <div *ngIf="currentRoute === 'edit'">
          <div *ngFor="let option of staticOptions">
            <div class="form-group">
              <input type="text" class="form-inline form-control"  value="{{option}}" disabled>
            </div>
          </div>
        </div>

        <div formArrayName="options">
          <div *ngFor="let option of fbForm.controls.options.controls; let i=index">
            <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
            <div [formGroupName]="i" class="form-group">
              <input type="hidden" formControlName="votes">
              <input type="text" class="form-inline form-control" formControlName="option" placeholder="Option">
              <!-- Enable Remove button when more than 2 options exist -->
              <span *ngIf="fbForm.controls.options.controls.length > minOptions">
                <button type='button' class="btn btn-sm btn-danger" (click)="removeOption(i)">-</button>
              </span>
              <span *ngIf="fbForm.controls.options.controls.length <= minOptions">
                <button type='button' class="btn btn-sm btn-secondary disabled">-</button>
              </span>
              <!-- Invalid option error message -->
              <small class="text-danger" 
                [hidden]="fbForm.controls.options.controls[i].controls.option.valid
                || (fbForm.controls.options.controls[i].controls.option.pristine && !submitted)">
                Option is not valid
              </small>
            </div>
          </div>
        </div>

        <div class="add-options text-right">
          <button type='button' class="btn btn-sm btn-primary" (click)='addOption()'>+ Add Option</button>
        </div>

        <button type='button' class="btn btn-md btn-outline-secondary" [routerLink]="['/av/my-polls']"><i class="zmdi zmdi-arrow-left"></i></button>
        <button type='button' class="btn btn-md btn-outline-success" type="submit" [disabled]="!fbForm.valid">
          <span *ngIf="currentRoute === 'new'"><i class="zmdi zmdi-plus"></i></span>
          <span *ngIf="currentRoute === 'edit'"><i class="zmdi zmdi-floppy"></i></span>
        </button>
      </form>
    </div>

    <div class="col-sm-6">
      <div *ngIf="!chartEmpty">
        <doughnut [doughnutChartLabels]="chartLabels"
          [doughnutChartData]="chartData" [doughnutChartAnimation]="false">
          <i class="zmdi zmdi-spinner zmdi-blue zmdi-hc-spin"></i>
        </doughnut>
      </div>
      <div class="text-center empty-chart" *ngIf="chartEmpty">
        <h4>Add options</h4>
        <h4>to generate a poll</h4>
      </div>
    </div>
  </div>
</div>

